/* You can add global styles to this file, and also import other style files */
$pink: #3d3d3d;

:root {

  --GG800-rgb: 60, 64, 67;
}

i-docsigneditor,
i-docsignviewer {

  .pdfcontrols {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }


  .defaultcomp {
    background-color: #ffd65bd4;
    padding: 0px 5px 0px 5px;

    text-align: left;
    cursor: pointer;
    position: absolute;
    border: 1px solid #b8860b; 
    min-height: 14px;
  }


  .viewercomp {
    background-color: #ffffff;
    border: 1px solid #999999;
  }


  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 14px;
    top: 2px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .defaultcomp[data-type=sign] {
    text-align: center;
    font-size: 40px;

  }


  .defaultcomp[data-type=attach] {
    text-align: center;
    font-size: 40px;

  }

  .checkbox {
    height: 15px;
    width: 15px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio {
    height: 15px;
    width: 15px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }



  .checkbox input[checkbox] {
    margin: 0;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }

  .radio input {

    cursor: pointer;
  }


  .require {
    border: 1px solid #c30000;
  }



  .borderActive {
    border: 2px dashed #c30000;
    animation: blink 1s;
    animation-iteration-count: 3;
  }


  .active {
    border: 1px dashed #2563d1 !important;
  }

  .s-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }

  #s-rectBox {
    position: absolute;
    z-index: 1090;
    border: 2px dashed #cbd3e3
  }

  .act {
    background: #d9f8ff;
    border: 1px solid #0094b5;
  }

  .defaultcomp[data-require="true"] {

    background-color: #ff98009c;
  }

  .defaultcomp[data-readonly="true"] {
    background-color: #ddddddf2 !important;
    color: #000;
  }

  .helper {
    display: flex;
    background-color: #dfdfdf;
    justify-content: center;
    align-items: center;
    z-index: 1111111;
    font-size: 13px;
    padding-right: 13px;

  }

  .helper .icon {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    background-color: #ffd65b;
    align-items: center;
    margin-right: 5px;
  }

  .defaultcomp[data-checked="true"] {}

  .site-cm-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .site-cm-box {
    z-index: 999999;
    width: 185px;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff
  }

  .site-cm-box ul.site-cm-group li {
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default
  }

  .site-cm-box .site-cm-separ {
    height: 0;
    border-top: 1px solid #d2d2d2
  }

  .site-cm-box ul.site-cm-group li:hover,
  .site-cm-box ul.site-cm-group li.hover {
    color: #fff;
    background-color: #33ce61
  }

  .site-cm-box ul.site-cm-group li>.site-cm-box {
    left: 185px;
    margin-top: -36px
  }

  .site-cm-box ul.site-cm-group li:hover>.site-cm-box,
  .site-cm-box ul.site-cm-group li.hover>.site-cm-box {
    color: #000
  }

  .site-cm-icon {
    color: #666;
    width: 20px
  }

  #preview {
    text-align: center;
  }

  .thumbnailpage {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    margin-top: 15px;

  }

  span.countbadge {
    position: absolute;
    left: -7px;
    top: -7px;
    width: 20px;
    border: 1px solid #c40201;
    background-color: #ff2725;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    align-items: center;
    font-weight: bold;
  }

  .thumbnailholder {
    display: flex;

    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;

  }

  .thumbnailholder:hover {
    background-color: #e0e0e0;
  }


  .thumbnailholder.thumactive {
    background-color: #e0e0e0;
  }

  .thumbnailpage img {
    border: 2px solid #fbde00;
    width: 75px;
  }


  div[data-val] {
    background: transparent;
    border: 0;
  }

  .modal {
    top: 45px !important
  }

  .modal.modal-close {
    -webkit-animation: none !important;
    animation: none !important;
  }

  .modal.modal-open {
    -webkit-animation: none !important;
    animation: none !important;

  }


  /*the tip*/

  .qtip:before {
    z-index: 1111111;
    content: attr(data-tip);
    font-size: 14px;
    position: absolute;
    background: rgba(10, 20, 30, 0.85);
    color: #fff;
    line-height: 1.2em;
    padding: 0.5em;
    font-style: normal;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    min-width: 120px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    letter-spacing: 0;
    font-weight: 600
  }

  .qtip:after {
    z-index: 1111111;
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 111;
    transition: all .3s ease-in-out
  }

  .qtip:hover:before,
  .qtip:hover:after {
    visibility: visible;
    opacity: 1
  }

  /*top*/
  .qtip.tip-top:before {
    top: -6px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 8px));
    box-sizing: border-box;
    border-radius: 3px;
    z-index: 111;
  }

  .qtip.tip-top:after {
    border-width: 8px 8px 0 8px;
    border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  /*bottom*/
  .qtip.tip-bottom:before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 8px));
    box-sizing: border-box;
    border-radius: 3px;
  }

  .qtip.tip-bottom:after {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent rgba(10, 20, 30, 0.85) transparent;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  /*left*/
  .qtip.tip-left:before {
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 8px), -50%);
    box-sizing: border-box;
    border-radius: 3px;
  }

  .qtip.tip-left:after {
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent rgba(10, 20, 30, 0.85);
    left: -8px;
    top: 50%;
    transform: translate(0, -50%);
  }

  /*right*/
  .qtip.tip-right:before {
    right: 0;
    top: 50%;
    transform: translate(calc(100% + 8px), -50%);
    box-sizing: border-box;
    border-radius: 3px;
  }

  .qtip.tip-right:after {
    border-width: 8px 8px 8px 0;
    border-color: transparent rgba(10, 20, 30, 0.85) transparent transparent;
    right: -8px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .barTitle {
    font-weight: 400;
    position: sticky;
    font-size: 14px;
    top: 0px;
    padding: 10px;
    background-color: #e9e9e9;
    z-index: 1;
    text-align: left;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid #e2e1e1;

  }


  .ui-widget-header {
    border: 0px solid #dddddd !important;
    background: transparent !important;
  }

  .ui-widget.ui-widget-content {
    border: 0px solid #dddddd !important;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(var(--GG800-rgb), .3), 0 4px 8px 3px rgba(var(--GG800-rgb), .15);
  }

  pr-docsignviewer *:focus {
    outline: none;
  }

  pr-docsigneditor *:focus {
    outline: none;
  }

  #loader {
    position: absolute;
    height: 100%;
    font-size: 12px;
    width: 100%;
    z-index: 111;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #progressbar {
    width: 240px;
    background: #6ba76c;
    height: 10px;
  }


  .justifycenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .ui-tooltip.ui-widget-content {
    background: #000;
    color: #fff;
    border: 0 solid #0b0b0b !important;
  }

  .signdone {
    background-color: transparent !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }

  .signdone i {
    display: none !important;
  }

  .signdone img {
    display: block !important;
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }


  .arrowshown {
    position: absolute;
    left: 0px;
    z-index: 11111;
    top: 7242px;
    padding-left: 4px;
    color: #ff5600;
    padding-right: 4px;
    background: #ccc;
    /* display: none; */
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .arrowshown::before {
    content: '';
    position: absolute;
    left: calc(100% - 1px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-width: 20px;
    border-style: solid;
    border-color: transparent;
    border-left-width: 14px;
    border-left-color: currentColor;
  }

  .arrowshown::after {
    content: '';
    position: absolute;
    left: calc(100% - 1px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-width: 20px;
    border-style: solid;
    border-color: transparent;
    border-left-width: 14px;
    border-left-color: currentColor;
  }


  .meter {
    height: 2px;
    /* Can be anything */
    position: relative;
    margin: 2px 0 4px 0;
    /* Just for demo spacing */
    /*background: #555;*/
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0px;

    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }

  .meter>span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0, rgb(43, 194, 83)),
        color-stop(1, rgb(84, 240, 84)));
    background-image: -moz-linear-gradient(center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%);
    -webkit-box-shadow:
      inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:
      inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow:
      inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }

  .meter>span:after,
  .animate>span>span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image:
      -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(255, 255, 255, .2)),
        color-stop(.25, transparent), color-stop(.5, transparent),
        color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.75, rgba(255, 255, 255, .2)),
        color-stop(.75, transparent), to(transparent));
    background-image:
      -moz-linear-gradient(-45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }

  .animate>span:after {
    display: none;
  }

  @-webkit-keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 50px 50px;
    }
  }

  @-moz-keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 50px 50px;
    }
  }


  .orange>span {
    background-color: #f1a165;
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1a165), color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
  }

  .red>span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0a3a3), color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
  }

  .nostripes>span>span,
  .nostripes>span:after {
    -webkit-animation: none;
    -moz-animation: none;
    background-image: none;
  }

  .rec_item_holder {

    display: flex;
    flex-wrap: wrap;
    max-height: 105px;
    overflow: auto;
  }

  .rec_item_holder .rec_items {
    flex: 0 50%;
    /*demo*/
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;

  }

  .rec_item_holder .rec_items .icon i {
    font-size: 25px;
    color: #9c9c9c;
  }

  .rec_item_holder .rec_items .name {
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
  }

  .ondrpclass {
    background-color: #0000000f;
  }

  .rec_item_holder .rec_items.acts .name {
    color: #000;
    font-weight: bold;

  }

  .rec_item_holder .rec_items.acts i {
    color: #000;
  }

  ul.toolsList.twoitems {
    display: flex;
    flex-wrap: wrap;
  }

  ul.toolsList.twoitems li {
    flex-direction: column !important;
    z-index: 0 !important;
    padding: 6px 6px 6px 6px !important;
    flex: 0 50% !important;
    box-sizing: border-box !important;
    background: #e7edee;
    border: 1px solid #f4f4f4 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  ul.toolsList.twoitems li .text {
    margin-left: 0px !important;
    font-size: 11px !important;
  }

}

.context-menu-item {
  padding: .4em 2em !important;
}

.context-menu-item.context-menu-icon--fa:before {
  color: #333 !important;
}

.context-menu-item.context-menu-hover {
  color: #333 !important;
  background-color: #e7edee !important;
}

.context-menu-icon.context-menu-icon--fa.context-menu-hover:before {
  color: #333 !important;
}
